@{
    ViewData["Title"] = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1>Welcome to Vennesla-Library</h1>
        <img class="homepage" src="~/images/Vennesla-Library.webp" alt="Sample Photo" />
    </div>
    <div class="text-center">
        Vennesla Library and Cultural Center, Vennesla, Norway
        This library in Norway is made of a series of arcs, or "ribs," that support the roof. The concept of the building comes from the ribs of a whale skeleton.
        "In this project, we developed a rib concept to create usable hybrid structures that combine a timber construction with all technical devices and the interior," architects Helen & Hard told ArchDaily.
    </div>
</body>

</html>